[webservers]
web-1 ansible_host=111.88.241.130 fqdn=fhmfg9ug408dlrgmuoq5.auto.internal
web-2 ansible_host=51.250.9.24 fqdn=fhm1gp6skuda0vk0jbn4.auto.internal

[databases]
main ansible_host=89.169.145.13 fqdn=fhm8d6fn9qqmr383a6rl.auto.internal
replica ansible_host=62.84.119.223 fqdn=fhmpvfcnvup35cubfaq1.auto.internal

[storage]
storage ansible_host=111.88.248.29 fqdn=fhmq6lhfs85theqlt973.auto.internal
